#project {
  position: relative;
  margin-bottom: 7em;
  margin-right: 15%;
  margin-left: 15%;
}

#projectspacer{
  /* margin-bottom: 8em; */
}

.projecttitle{
  margin-bottom:20px;
}

.test{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3em;
}

.projecttext{
  width: 130%;
}
/*
.projectimg img{
  width: 100%;
} */

.projecttext h3{
  margin-bottom: 20px;
  color: var(--clr-accent);
  font-weight: bold;
  font-size: 1.5em;
}

.projecttext ul{
  padding:10px 10px 10px 30px;
  background-color: rgba(43, 122, 120, 0.15);
}

.projecttext li:not(:last-child) {
    margin-bottom: 10px;
}

#wellmatic{
  text-align: left;
}

#blockbuddy{
  text-align: right;
}

#sortingalgorithm{
  text-align: right;
}

#foodify{
  text-align: left;
}

@media (max-width: 600px) {
  #projectspacer{
    margin-bottom: 20%
  }
}

@media (max-width: 1200px) {
  #project {
    position: relative;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    overflow:hidden;

  }

  .test{
    display: flex;
    flex-direction: column;
  }

  .projecttext{
    width: 100%;
  }

  .projecttext h3{
    margin-bottom: 10px;
  }

  #sortingproject{
    flex-direction: column-reverse;
  }
  
  #blockproject{
    flex-direction: column-reverse;
  }

  #wellmatic{
    text-align: left;
  }

  #sortingalgorithm{
    text-align: left;
  }

  #foodify{
    text-align: left;
  }

  #blockbuddy{
    text-align: left;
  }
}
